<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="NovoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email">
    <app-mensagem mensagem="E-mail obrigatório" *ngIf="NovoUsuarioForm.get('email')?.errors?.required && NovoUsuarioForm.get('email')?.touched"></app-mensagem>
    <app-mensagem mensagem="E-mail no formato incorreto" *ngIf="NovoUsuarioForm.get('email')?.errors?.email && NovoUsuarioForm.get('email')?.touched"></app-mensagem>
  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName">
    <app-mensagem mensagem="Nome obrigatório" *ngIf="NovoUsuarioForm.get('fullName')?.errors && NovoUsuarioForm.get('fullName')?.touched"></app-mensagem>
  </div>
  <div class="form-group">
    <input placeholder="Usuário" class="form-control" formControlName="userName">
    <app-mensagem mensagem="Usuário deve ser em letra minúscula" *ngIf="NovoUsuarioForm.get('userName')?.errors?.minusculo && NovoUsuarioForm.get('userName')?.touched"></app-mensagem>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Senha" class="form-control" formControlName="password">
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário <a routerLink="">Faça Login</a></p>
